@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --color-elements: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 98%);
  --color-input-text: hsl(0, 0%, 52%);
  --color-text: hsl(200, 15%, 8%);

  /* Font Family*/
  --font-family: "Nunito Sans", sans-serif;

  /* Font Weight */
  --fw-bold: 800;
  --fw-semi-bold: 600;
  --fw-regular: 300;

  /* Font Size */
  --fs-logo: clamp(1.25rem, 1.2143rem + 0.1786vw, 1.375rem);
  --fs-card-title: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --fs-homepage: clamp(0.8125rem, 0.7946rem + 0.0893vw, 0.875rem);
  --fs-detail-page: clamp(0.9375rem, 0.9196rem + 0.0893vw, 1rem);
  --fs-detail-page-title: clamp(1.375rem, 1.2679rem + 0.5357vw, 1.75rem);
  --fs-errors-title: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);
}

:root.dark {
  --color-elements: hsl(209, 23%, 22%);
  --color-background: hsl(207, 26%, 17%);
  --color-input-text: hsl(0, 0%, 52%);
  --color-text: hsl(0, 0%, 100%);
}

body {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  color: var(--color-text);

  background-color: var(--color-background);
}

.grid-customs {
  --grid-size: 250px;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--grid-size)), 1fr)
  );
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --radial-gradient: no-repeat
    radial-gradient(circle closest-side, var(--color-text) 90%, #0000);
  background: var(--radial-gradient) 0% 50%, var(--radial-gradient) 50% 50%,
    var(--radial-gradient) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: dots-loader 1s infinite linear;
}
@keyframes dots-loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
